body {
    font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "Microsoft YaHei";
    background-color: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html,
#app {
    height: 100%;
    overflow: hidden;
}

#app {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

* {
    outline: none;
}

.fl {
    float: left;
}

input[disabled] {
    cursor: not-allowed;
}

.ht7 {
    font-size: 16px;
}

.title-tip {
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: #ff5252;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #eee!important;
}

.mu-text-field-hint {
    width: auto!important;
}


/** tips **/

.sys-tips {
    color: #fff;
    background-color: rgba(19, 21, 23, 0.73)!important;
    right: 50%!important;
    margin-right: -160px!important;
    border-radius: 5px;
    max-width: 360px!important;
    top: 16%!important;
    bottom: auto!important;
}

.sys-tips .mu-snackbar-message {
    text-align: center;
    flex-direction: column;
}


/** tips end **/

.gloading {
    background: url('/src/assets/imgs/gloading.gif') no-repeat center center transparent;
    height: 100px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.fixed {
    position: fixed;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}
